body {
  background-color: #000;
  color: #EFEFEF;
  font-family: monospace;
  font-size: 18px;
  margin: 25px;
  padding-bottom: 50px;
}

a:link, a:visited, a:hover {
  color: #06FAF5;
}

section {
  margin-top: 40px;
  line-height: 1.3em;
}

section p {
  margin-bottom: 25px;
}

h1 {
  color: #fff;
}

h2 {
  color: #70E566;
}

hr {
  border-top: 1px dashed #8c8b8b;
  border-bottom: 0px;
}

span {
  color: #F3AC40;
}