html {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #000;
  color: #EFEFEF;
  font-family: monospace;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

a:link, a:visited, a:hover {
  color: #06FAF5;
}

main {
  margin: 0px;
  padding: 15px;
  
}

section {
  margin-bottom: 25px;
  line-height: 1.3em;
}

section p {
  margin-bottom: 15px;
}

h1 {
  color: #fff;
  font-size: 1.6em;
  margin-top: 5px;
}

h2 {
  color: #70E566;
  font-size: 1.4em;
}

hr {
  border-top: 1px dashed #8c8b8b;
  border-bottom: 0px;
}

span {
  color: #F3AC40;
}
